id: MSMTP_CONFIG
info:
  name: Msmtp - Config Exposure
  description: "Msmtp configuration was discovered."
  details: >
    "The Msmtp Config Exposure vulnerability occurs when Msmtp configuration files (.msmtprc) are accessible to unauthorized users. These files store email account settings, including the email host, credentials, and TLS configurations. If exposed, attackers can gain access to email accounts, potentially leading to unauthorized email sending and compromising sensitive information. It is essential to secure these configuration files to prevent unauthorized access and protect email account integrity."
  impact: "Exposure of Msmtp configuration files can lead to unauthorized access and compromise of email accounts."
  category:
    name: SM
    shortName: Misconfiguration
    displayName: Security Misconfiguration (SM)
  subCategory: MSMTP_CONFIG
  severity: HIGH
  references:
    - https://wiki.archlinux.org/title/Msmtp
    - "https://github.com/OWASP/API-Security/blob/master/editions/2023/en/0xa8-security-misconfiguration.md"
  cwe:
    - CWE-16
  cve:
    - CVE-2019-8337

attributes:
  nature: INTRUSIVE
  plan: FREE
  duration: FAST
compliance_standards:
  GDPR:
    - Article 32
    - Article 25
  HIPAA:
    - 45 CFR ยง 164.308(a)(1)(ii)(A)
    - 45 CFR ยง 164.312(a)(2)(i)
  SOC 2:
    - System Configuration and Management Controls
    - Access and Authorization Settings
  PCI DSS:
    - Requirement 2.2
    - Requirement 6.2
  ISO 27001:
    - A.12.1.1
    - A.12.6.2
  NIST 800-53:
    - CM-6
    - AC-17
  CSA CCM:
    - IVS-09
    - TVM-04
  CIS Controls:
    - IG1 Safeguard 4.6
    - IG1 Safeguard 5.5
  FedRAMP:
    - CM-6
    - AC-17
  NIST 800-171:
    - 3.4.6
    - 3.5.7
  FISMA:
    - CM-6
    - AC-17
  Cybersecurity Maturity Model Certification (CMMC):
    - CM.2.068
    - AC.2.008
api_selection_filters:
  method:
    neq: "OPTIONS"
  response_code:
    gte: 200
    lt: 300
  url:
    extract: urlVar

execute:
  type: single
  requests:
    - req:
        - modify_url: ${urlVar}/.msmtprc

validate:
  response_code:
    eq: 200
  response_payload:
    length:
      gt: 0
    not_contains:
      - <html>
      - </html>
    contains_all:
      - 'account'
      - 'host'
      - 'from'
      - 'auth'
      - 'tls'
  response_headers:
    for_one:
      value:
        contains_either:
          - 'text/plain'
          - 'octet-stream'
