id: PROMETHEUS_OPEN_REDIRECT
info:
  name: "Prometheus Open Redirect"
  description: "This vulnerability allows an attacker to manipulate URLs to redirect users to malicious sites. This issue arises from improper validation of user-supplied input in URL parameters. Exploiting this vulnerability can facilitate phishing attacks or redirect users to harmful content, undermining trust in the application. Mitigating this risk involves implementing strict validation and sanitization of URLs to prevent unauthorized redirects."
  details: "This vulnerability specifically affects certain endpoints that handle user input for redirection. Attackers can craft URLs that redirect users to unintended or malicious websites by exploiting the lack of proper input validation. This can lead to users unknowingly disclosing sensitive information or being exposed to phishing attacks. The vulnerability is critical in applications where user trust is paramount, as it can compromise the integrity of the service."
  impact: "The impact of this vulnerability can lead to significant security risks, including phishing attacks and the unauthorized disclosure of sensitive information. By redirecting users to malicious sites, attackers can exploit user trust and potentially harvest credentials or other personal data. Additionally, this vulnerability undermines the integrity of the application, as users may be misled into thinking they are interacting with legitimate services. Overall, it poses a serious threat to user safety and application reliability."
  category:
    name: SM
    shortName: Misconfiguration
    displayName: Security Misconfiguration (SM)
  subCategory: PROMETHEUS_OPEN_REDIRECT
  severity: MEDIUM
  references:
    - "https://github.com/OWASP/API-Security/blob/master/editions/2023/en/0xa8-security-misconfiguration.md"
  cwe:
    - CWE-200
    - CWE-16
  cve:
    - CVE-2021-29622

settings:
  nature: NON-INTRUSIVE
  plan: STANDARD
  duration: FAST
api_selection_filters:
  method:
    neq: "OPTIONS"
  response_code:
    gte: 200
    lt: 300
  response_payload:
    length:
      gt: 0
  url:
    extract: urlVar
  request_headers:
    for_one:
      key:
        eq: "host"
      value:
        extract: hostHeaderVal

execute:
  type: single
  requests:
    - req:
        - modify_url: "//new/newhttp://akto.io"
        - modify_method: GET
        - replace_body: '{}'


validate:
  response_payload:
    length:
      gt: 0
  response_headers:
    for_one:
      key:
        regex: "location"
      value:
        contains_all:
          - akto.io
