id: PROMETHEUS_PANEL_EXPOSE
info:
  name: "Prometheus Panel Exposure"
  description: "Prometheus Panel Exposure refers to the unintended exposure of the Prometheus monitoring system's web interface, making it accessible over the internet without proper security measures. This vulnerability can allow unauthorized users to view sensitive metrics and potentially manipulate configurations or queries. To mitigate this risk, it is essential to implement strong authentication, use network restrictions, and secure the panel with firewalls."
  details:  "Prometheus Panel Exposure occurs when the Prometheus web interface is publicly accessible without adequate security controls, such as proper authentication or IP whitelisting. This vulnerability can enable attackers to access sensitive monitoring data, view system metrics, and potentially exploit exposed endpoints to modify queries or configurations. To protect against this exposure, organizations should enforce strong access controls, utilize encryption for data in transit, and restrict access to trusted networks or IP addresses."
  impact: "The impact of Prometheus Panel Exposure can be significant, as unauthorized access may allow attackers to view sensitive metrics related to application performance and infrastructure health. This information can be leveraged for further attacks, such as targeting specific vulnerabilities within the system. Additionally, if attackers can modify configurations or queries, they could disrupt monitoring services, leading to operational downtime and potentially causing critical failures in systems being monitored. This exposure could result in substantial financial and reputational damage to the organization."
  category:
    name: SM
    shortName: Misconfiguration
    displayName: Security Misconfiguration (SM)
  subCategory: PROMETHEUS_PANEL_EXPOSE
  severity: MEDIUM
  references:
    - "https://github.com/OWASP/API-Security/blob/master/editions/2023/en/0xa8-security-misconfiguration.md"
  cwe:
    - CWE-200
    - CWE-16
  cve:
    - CVE-2021-43798

api_selection_filters:
  method:
    neq: "OPTIONS"
  response_code:
    gte: 200
    lt: 300
  response_payload:
    length:
      gt: 0

  request_headers:
    for_one:
      key:
        eq: "host"
      value:
        extract: hostHeaderVal
wordLists:
  paths:
    - '/graph'
    - "/prometheus/graph"
execute:
  type: single
  requests:
    - req:
      - modify_url: "${paths}"
      - modify_method: GET
      - replace_body: '{}'
validate:
  response_payload:
    length:
      gt: 0
    contains_either:
      - "<title>Prometheus Time Series Collection and Processing Server</title>"
strategy:
  run_once: /