id: SWAGGER_API_EXPOSURE
info:
  name: "Swagger API Documentation Exposure"
  description: "This test refers to the unintended public accessibility of Swagger-generated API documentation, which details the endpoints, request/response formats, and authentication methods of an application’s APIs. When exposed without proper security controls, this documentation can provide attackers with critical insights into the API's functionality and structure. Such exposure increases the risk of targeted attacks, as attackers can identify potential vulnerabilities to exploit. To mitigate these risks, it is essential to restrict access to Swagger documentation through authentication and authorization mechanisms."
  details:  "Swagger API Documentation Exposure occurs when the Swagger UI or JSON file is accessible to the public without adequate security measures, allowing unauthorized users to view detailed API specifications. This can include information about available endpoints, parameters, response types, and security protocols, making it easier for attackers to understand the application's architecture. The exposed documentation can facilitate targeted attacks, such as injection or exploitation of vulnerabilities. To protect against this exposure, organizations should implement strong access controls, secure the documentation behind authentication, and limit visibility to trusted users only."
  impact: "The impact of Swagger API Documentation Exposure can be significant, as it provides attackers with detailed knowledge of the API’s structure and functionality, making it easier to exploit vulnerabilities. This can lead to unauthorized access to sensitive data, manipulation of application behavior, and potential data breaches. Additionally, the exposure can result in targeted attacks, such as denial of service or injection attacks, causing operational disruptions and financial losses. Furthermore, organizations may face reputational damage and regulatory consequences if sensitive information is compromised due to insufficient security measures."
  category:
    name: SM
    shortName: Misconfiguration
    displayName: Security Misconfiguration (SM)
  subCategory: SWAGGER_API_EXPOSURE
  severity: MEDIUM
  references:
    - "https://github.com/OWASP/API-Security/blob/master/editions/2023/en/0xa8-security-misconfiguration.md"
  cwe:
    - CWE-200
    - CWE-16
  cve:
    - CVE-2021-43798

api_selection_filters:
  method:
    neq: "OPTIONS"
  response_code:
    gte: 200
    lt: 300
  response_payload:
    length:
      gt: 0
  url:
    extract: urlVar
  request_headers:
    for_one:
      key:
        eq: "host"
      value:
        extract: hostHeaderVal
wordLists:
  paths:
    - "/swagger-ui/swagger-ui.js"
    - "/swagger/swagger-ui.js"
    - "/swagger-ui.js"
    - "/swagger/ui/swagger-ui.js"
    - "/swagger/ui/index"
    - "/swagger/index.html"
    - "/swagger-ui.html"
    - "/swagger/swagger-ui.html"
    - "/api/swagger-ui.html"
    - "/api-docs/swagger.json"
    - "/api-docs/swagger.yaml"
    - "/api_docs"
    - "/swagger.json"
    - "/swagger.yaml"
    - "/swagger/v1/swagger.json"
    - "/swagger/v1/swagger.yaml"
    - "/api/index.html"
    - "/api/doc"
    - "/api/docs/"
    - "/api/swagger.json"
    - "/api/swagger.yaml"
    - "/api/swagger.yml"
    - "/api/swagger/index.html"
    - "/api/swagger/swagger-ui.html"
    - "/api/api-docs/swagger.json"
    - "/api/api-docs/swagger.yaml"
    - "/api/swagger-ui/swagger.json"
    - "/api/swagger-ui/swagger.yaml"
    - "/api/apidocs/swagger.json"
    - "/api/apidocs/swagger.yaml"
    - "/api/swagger-ui/api-docs"
    - "/api/doc.json"
    - "/api/api-docs"
    - "/api/apidocs"
    - "/api/swagger"
    - "/api/swagger/static/index.html"
    - "/api/swagger-resources"
    - "/api/swagger-resources/restservices/v2/api-docs"
    - "/api/__swagger__/"
    - "/api/_swagger_/"
    - "/api/spec/swagger.json"
    - "/api/spec/swagger.yaml"
    - "/api/swagger/ui/index"
    - "/__swagger__/"
    - "/_swagger_/"
    - "/api/v1/swagger-ui/swagger.json"
    - "/api/v1/swagger-ui/swagger.yaml"
    - "/swagger-resources/restservices/v2/api-docs"
    - "/api/swagger_doc.json"
    - "/docu"
    - "/docs"
    - "/swagger"
    - "/api-doc"
    - "/doc/"
    - "/swagger-ui/springfox.js"
    - "/swagger-ui/swagger-ui-standalone-preset.js"
    - "/swagger-ui/swagger-ui/swagger-ui-bundle.js"
    - "/webjars/swagger-ui/swagger-ui-bundle.js"
    - "/webjars/swagger-ui/index.html"
execute:
  type: single
  requests:
    - req:
      - modify_url: "${paths}"
      - modify_method: GET
      - replace_body: '{}'
      - add_header:
          accept: "text/html"
validate:
  response_code:
    eq: 200
  response_payload:
    length:
      gt: 0
    contains_either:
      - "swagger:"
      - "Swagger 2.0"
      - "\"swagger\":"
      - "Swagger UI"
      - "loadSwaggerUI"
      - "**token**:"
      - "id=\"swagger-ui"
strategy:
  run_once: /