id: swagger-version
  
info:
  name: Swagger 2.x Version Detection
  author: c-sh0
  reference:
     - Swagger UI 2.x and under
     - https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/version-detection.md
  severity: info
  description: Obtain Swagger Version
  tags: tech,swagger,api

requests:
  - method: GET
    path:
      - "{{BaseURL}}/{{locations}}"
    payloads:
       locations: https://raw.githubusercontent.com/akto-api-security/testing_sources/master/Misconfiguration/swagger-detection/wordlists/swagger_pathlist.txt

    matchers-condition: and
    matchers:
     - type: regex
       regex:
           - \""swagger":|"openapi":\"|Swagger UI
       part: body
